<footer class="footer-container lin-gradient-revert">
	<div id="graphcomment"></div>
<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  // make sure the id is yours
  window.gc_params = {
    graphcomment_id: 'byszsz',

    // if your website has a fixed header, indicate it's height in pixels
    fixed_header_height: 0,
  };

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  
  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();

</script>
	<div class="footer">  	
		<p> {{ .Site.Copyright }} </p>
	    <p>·</p>
	    <a href="{{ .Site.BaseURL }}{{ .Site.Params.button_3 }}" rel="me"><p> {{ .Site.Author.name }} </p></a>
	</div>
</footer>