{{ hugo.Generator }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=preconnect href="https://www.google-analytics.com">
<link rel=preconnect href="https://fonts.gstatic.com">
<link rel=preconnect href="https://fonts.googleapis.com">
<link rel=preconnect href="https://glcdn.githack.com" >
<link rel=preconnect href="https://www.googletagmanager.com" >
<link rel=preconnect href="https://graphcomment.com" >
<link rel=preconnect href ="https://cdn.jsdelivr.net">

<title>{{ .Title }}</title>
<meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
<meta name="description" content="{{ $isHomePage := eq .Title .Site.Title }}{{ if eq $isHomePage false }}{{ .Description }} - {{ end }}{{ .Site.Params.description }}">
<meta name="keywords" content="{{ delimit .Keywords ", " }}">

<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ $isHomePage := eq .Title .Site.Title }}{{ if eq $isHomePage false }}{{ .Description }} - {{ end }}{{ .Site.Params.description }}">

{{ "<!-- Site Icon -->" | safeHTML }}
<link rel="shortcut icon" href="{{ .Site.Params.imageCDN }}{{ .Site.Params.logo }}" alt='logo'>
{{ "<!-- Load CSS config -->" | safeHTML }}
<link rel="stylesheet" href="{{ .Site.Params.cdn }}css/normalize.css" type="text/css">
<link rel="stylesheet" href="{{ .Site.Params.cdn }}css/default.css" type="text/css">
<link rel="stylesheet" href="{{ .Site.Params.cdn }}css/mobile.css" type="text/css">
<link rel="stylesheet" href="{{ .Site.Params.cdn }}css/code-style.min.css" type="text/css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script async src="//www.googletagmanager.com/gtag/js?id=UA-9406302-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-9406302-3');
</script>
{{ template "_internal/google_analytics_async.html" . }}
